h1{
   
    text-shadow: 0px 0px 4px black;
}
.a{
    text-shadow: 0px 0px 4px black;
}
.b{
    text-shadow: 0px 0px 4px black;
}
.c{
    text-shadow: 0px 0px 4px black;
    color: white;
}
.d{
    text-shadow: 0px 0px 4px black;
    color: white;
}
.e{
    text-shadow: 0px 0px 4px black;
    color: white;
}